red_dir/.flows_main.json.backup
[{"id":"e72f0512.026058","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"d550df1b.e4bdd","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.107","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8d3253a.96b7a8","type":"function","z":"e72f0512.026058","name":"","func":"const readFile=global.get('readFile')\nlet html=readFile('test.html')\nconsole.log(html)\nmsg.payload=html.toString()\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["3e9924f9.db6bac"]]},{"id":"ed11f22d.e6411","type":"http in","z":"e72f0512.026058","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":380,"y":420,"wires":[["d8d3253a.96b7a8"]]},{"id":"3e9924f9.db6bac","type":"http response","z":"e72f0512.026058","name":"","statusCode":"","headers":{},"x":820,"y":420,"wires":[]}]